html {
  font-size: 62.5%
}

.ember-application {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}

.ember-inline-edit-input {
  font-size: 15px;
  padding: .5em 1em;
}

.gray-text {
  color: #888;
}

.ember-inline-edit-toggle-btn {
  font-size: 12px;
  background: #666;
  color: white;
  border-radius: 9999em;
  padding: 3px 6px
}
