.bg-near-white {
  background-color: #f8f8f8
}

.code,
code,
pre {
  font-family: Fira Code, Inconsolata, monospace;
}

.code-card,
.example-card {
  float: left;
  width: 100%;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 10px;
}

.code-card-header,
.example-card-header {
  float: left;
  width: 100%;
  padding: 3px 10px;
  border-bottom: 1px solid #eee;
  background-color: #f8f8f8;
}

.code-card-body {
  float: left;
  width: 100%;
  padding: 10px;
}

.hljs {
  background: white;
  padding: 0;
}

.nav-links {
  padding: 2rem;
  text-align: right
}

.nav-links a {
  display: block;
  padding: 1em;
  color: #777;
  text-decoration: none;
  text-decoration-skip: ink
}

.nav-links a.active,
.nav-links a:hover {
  font-weight: 500;
  color: navy;
  text-decoration: underline
}
