{{! template-lint-disable no-unused-block-params }}
<EmberInlineEdit @value={{this.value}} as |x onSave onCancel|>
  <x.editable>
    <h3>{{this.value}}</h3>
  </x.editable>

  <x.editor>
    <select id='some-select' name='some-name' {{on 'input' this.setValue}}>
      <option value='option-1'>Option 1</option>
      <option value='option-2'>Option 2</option>
      <option value='option-3'>Option 3</option>
      <option value='option-4'>Option 4</option>
    </select>
  </x.editor>
</EmberInlineEdit>