<div class="introduction f5">
  <h6 class="ttu tracked">Block Usage</h6>

  <p>
    In case you need to go beyond the default textfields and control what shows as the editable
    (say a header tag) and what shows as the editor (say a custom select component), you can do that too.
  </p>

  {{#x-card class="mt2" type="Code"}}
    {{code-snippet class="code f6" name="advanced-usage.hbs"}}
  {{/x-card}}

  <p>
    Here's what that will do.
  </p>

  {{#x-card type="Example"}}
    {{#ember-inline-edit value=value as |x onSave onCancel|}}
      {{#x.editable}}
        <h3>{{value}}</h3>
      {{/x.editable}}

      {{#x.editor}}
        <select onchange={{action (mut value) value="target.value"}} id="some-select" name="some-name">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
        </select>
      {{/x.editor}}
    {{/ember-inline-edit}}
  {{/x-card}}

  <p>
    In this case, you have three yielded properties:

    <ul>
      <li>
        the editor, which is a hash with two properties: editable and editor.
      </li>

      <li>
        <code>onSave</code> action.
      </li>

      <li>
        <code>onCancel</code> action.
      </li>
    </ul>
  </p>
</div>
