<div class="introduction f5">
  <h6 class="ttu tracked">Customization</h6>

  <p>
    <code>ember-inline-edit</code> does not come with any styling by default, but
    it's pretty customizable.
  </p>

  Here's a list of attributes that you can pass in and what they do.

  <table class="collapse ba br2 b--black-10 pv2 ph3 mt4 fl w-100">
    <thead class="tl bb f6">
      <tr>
        <th class="pl1">Attribute</th>
        <th class="pl1">Type</th>
        <th class="pl1">Default</th>
        <th class="pl1">Explanation</th>
      </tr>
    </thead>
    <tbody class="f6">
      <tr class="striped--near-white">
        <td class="pa1">enabled</td>
        <td class="pa1 mid-gray code">Boolean</td>
        <td class="pa1 mid-gray code">true</td>
        <td class="pa1">Enables (or disables) the ability to edit</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">placeholder</td>
        <td class="pa1 mid-gray code">String</td>
        <td class="pa1 mid-gray code">Not Provided</td>
        <td class="pa1">What shows up if the value is empty</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">saveLabel</td>
        <td class="pa1 mid-gray code">String</td>
        <td class="pa1 mid-gray code">Save</td>
        <td class="pa1">Save button's label</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">cancelLabel</td>
        <td class="pa1 mid-gray code">String</td>
        <td class="pa1 mid-gray code">Cancel</td>
        <td class="pa1">Cancel button's label</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">showSaveButton</td>
        <td class="pa1 mid-gray code">Boolean</td>
        <td class="pa1 mid-gray code">true</td>
        <td class="pa1">Shows (or hides) the save button*</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">showCancelButton</td>
        <td class="pa1 mid-gray code">Boolean</td>
        <td class="pa1 mid-gray code">true</td>
        <td class="pa1">Shows (or hides) the cancel button*</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">showCancelButton</td>
        <td class="pa1 mid-gray code">Boolean</td>
        <td class="pa1 mid-gray code">true</td>
        <td class="pa1">Shows (or hides) the cancel button*</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">showEditButton</td>
        <td class="pa1 mid-gray code">Boolean</td>
        <td class="pa1 mid-gray code">false</td>
        <td class="pa1">If true, shows a button that says 'Edit' next to the editable</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">editorClass</td>
        <td class="pa1 mid-gray code">String</td>
        <td class="pa1 mid-gray code">-</td>
        <td class="pa1">classnames to pass on to the editor component</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">editButtonClass</td>
        <td class="pa1 mid-gray code">String</td>
        <td class="pa1 mid-gray code">-</td>
        <td class="pa1">classnames to pass on to the edit button</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">saveButtonClass</td>
        <td class="pa1 mid-gray code">String</td>
        <td class="pa1 mid-gray code">-</td>
        <td class="pa1">classnames to pass on to the save button</td>
      </tr>

      <tr class="striped--near-white">
        <td class="pa1">cancelButtonClass</td>
        <td class="pa1 mid-gray code">String</td>
        <td class="pa1 mid-gray code">-</td>
        <td class="pa1">classnames to pass on to the cancel button</td>
      </tr>
    </tbody>
  </table>

  <p class="f6 mid-gray mt2 fl w-100">
    * even if the Save or Cancel buttons are hidden, the keyboard support still works.
  </p>
</div>
