<div class="fl w-100 sans-serif container">
  <aside class="fl w-20 pa2">
    <nav class="fl w-100 mt6">
      {{#link-to "index"}}
        Basic Usage
      {{/link-to}}

      {{#link-to "handling-actions"}}
        Handling Actions
      {{/link-to}}

      {{#link-to "changing-input-type"}}
        Changing Field
      {{/link-to}}

      {{#link-to "advanced-usage"}}
        Block Usage
      {{/link-to}}

      {{#link-to "appearance"}}
        Customization
      {{/link-to}}
    </nav>
  </aside>

  <div class="fl w-50 pa2 content">
    <h1 class="mt4 ma0 fw9">ember-inline-edit</h1>

    <div class="p gray f4 fw5 mt3 measure lh-copy explanation">
      ember-inline-edit is a simple component that provides inline editing for your ember.js
      apps. It also has basic keyboard support.
    </div>

    <div class="lh-copy">
      {{outlet}}
    </div>
  </div>
</div>
