<div class="fl w-100 sans-serif">
  <div class="fl w-30 pa-2">
    <div class="fl w-100 mt6 nav-links">
      {{#link-to "index"}}
        Basic Usage
      {{/link-to}}

      {{#link-to "handling-actions"}}
        Handling Actions
      {{/link-to}}

      {{#link-to "changing-input-type"}}
        Changing Field
      {{/link-to}}

      {{#link-to "advanced-usage"}}
        Block Usage
      {{/link-to}}

      {{#link-to "appearance"}}
        Customization
      {{/link-to}}
    </div>
  </div>

  <div class="fl w-50 pa-2">
    <div class="lh-copy">
      <h1>ember-inline-edit</h1>

      <div class="p gray f4">
        ember-inline-edit is a simple component that provides inline editing for your ember.js
        apps. It also has basic keyboard support.
      </div>

      {{outlet}}
    </div>
  </div>
</div>
