<div class="introduction f5">
  <h6 class="ttu tracked">Handling Actions</h6>

  <p>There are three actions that you can expect:</p>

  <ul>
    <li>
      <code class="navy">onSave(newValue)</code>
      <p class="f6">When a user clicks the Save button or hits the Enter key, you'll get the onSave action with the new value.</p>
    </li>

    <li>
      <code class="navy">onCancel()</code>
      <p class="f6">When a user clicks the Cancel button or hits the Esc key, you'll get the onCancel action with no arguments.</p>
    </li>

    <li>
      <code class="navy">onOutsideClick()</code> <small class="silver"> optional </small>
      <p class="f6">
        By default, when a user is in the edit mode and clicks anywhere outside the editor, <code>onCancel</code> is called and the editor
        is closed.
      </p>

      <p class="f6">
        If you want more control over this, you can use the <code>onOutsideClick</code> action. With this defined, <code>onCancel</code> will not be called
        when a user clicks outside the editor... instead, the editor will stay in the edit mode and you will get the <code>onOutsideClick</code>
        action to handle it the way you want.
      </p>
    </li>
  </ul>
</div>
