<div class="introduction f5">
  <h6 class="ttu tracked">Handling Actions</h6>

  <p>There are two actions that you can expect:</p>

  <ul>
    <li>
      <code class="navy">onSave(newValue)</code>
      <p class="f6">When a user clicks the Save button or hits the Enter key, you'll get the onSave action with the new value.</p>
    </li>

    <li>
      <code class="navy">onCancel()</code>
      <p class="f6">When a user clicks the Cancel button or hits the Esc key, you'll get the onCancel action with no arguments.</p>
    </li>
  </ul>
</div>
