<div class='introduction f5'>
  <h6 class='ttu tracked'>Basic Usage</h6>

  <p>Here's the basic way of using this:</p>

  <XCard @type='Code'>
    {{#let (get-code-snippet 'basic-usage.hbs') as |snippet|}}
      <CodeBlock
        class='code f6'
        @language={{snippet.language}}
        @code={{snippet.source}}
      />
    {{/let}}
  </XCard>

  <p>
    This will render a
    <code>div</code>
    with the value and make it editable.
  </p>

  <p>Here's an example:</p>

  <XCard @type='Example'>
    <EmberInlineEdit @value={{this.value}} @onSave={{fn (mut this.value)}} />
  </XCard>

  <p>You can click on the value above, change it, save it, or close it by
    pressing the esc key.</p>
</div>